""" Map leader to space ---------------------
let mapleader=" "

inoremap jk <Esc>

map [[ ?\V{<CR>
map ]] /\V{<CR>
map ][ /\V}<CR>
map [] ?\V}<CR>
nnoremap J 3j
nnoremap K 3k
nnoremap zh 50zh
nnoremap zl 50zl
nnoremap Y y$
nnoremap / <ESC>"ryiw/
nnoremap ? <ESC>"ryiw?
nnoremap : <ESC>"ryiw:

" 高亮搜索
" set hlsearch
set smartcase
set ignorecase
set incsearch
set clipboard=unnamed
set clipboard+=ideaput

""" Plugins  --------------------------------
set surround
set multiple-cursors
set commentary
set argtextobj
set easymotion
set textobj-entire
set ReplaceWithRegister
set exchange
set highlightedyank
set keep-english-in-normal


let g:argtextobj_pairs="[:],(:),<:>"

set showmode
set so=5
set ss=15
set nu
set scr
" set rnu
set ideajoin
set ideastatusicon=gray
set idearefactormode=keep

" ctrl cmd
nnoremap <C-A> ^
" nnoremap <C-B> ?\Vfunc <CR>
nnoremap <C-E> $
nnoremap <C-F> <ESC>:action FileStructurePopup<CR>
nnoremap <C-h> <C-w>h
nnoremap <C-I> <ESC>:action Forward<CR>
nnoremap <C-j> <C-w>j
nnoremap <C-k> <C-w>k
nnoremap <C-l> <C-w>l
nnoremap <C-n> <ESC>:action GotoNextError<CR>
nnoremap <C-o> <ESC>:action Back<CR>
nnoremap <C-p> <ESC>:action GotoPreviousError<CR>

" leader map
map <leader>a :action Annotate<CR>
" map <leader>b <Plug>(easymotion-b)
map <leader>c :action Stop<CR>
map <leader>d :action Debug<CR>
" map <leader>f <ESC>:action FileStructurePopup<CR>
" map <leader>j <Plug>(easymotion-j)
" map <leader>k <Plug>(easymotion-k)
map <leader>l :action SelectInProjectView<CR>
map <leader>m :action ShowBookmarks<CR>
" map <leader>n :action GotoNextError<CR>
map <leader>o :action GotoFile<CR>
" map <leader>p :action GotoPreviousError<CR>
map <leader>r :action RenameElement<CR>
map <leader>s :action FindInPath<CR>
map <leader>t :action Terminal.OpenInTerminal<CR>
map <leader>u <ESC>:action ShowUsages<CR>
" map <leader>w <Plug>(easymotion-w)
map <leader>z :action ToggleDistractionFreeMode<CR>

map <F6> :action ToggleLineBreakpoint<CR>

" go
map gD :vs<CR>gd
map gf :action ReformatCode<CR>
nnoremap [m ?func<CR>
nnoremap ]m /func<CR>
nnoremap ]) /\V)<CR>
nnoremap [( ?\V(<CR>
